<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <display-name>CoachingManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminlogout</display-name>
    <servlet-name>adminlogout</servlet-name>
    <servlet-class>adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogout</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentregister</display-name>
    <servlet-name>studentregister</servlet-name>
    <servlet-class>studentregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentregister</servlet-name>
    <url-pattern>/studentregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletestudent</display-name>
    <servlet-name>deletestudent</servlet-name>
    <servlet-class>deletestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletestudent</servlet-name>
    <url-pattern>/deletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approvestudent</display-name>
    <servlet-name>approvestudent</servlet-name>
    <servlet-class>approvestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approvestudent</servlet-name>
    <url-pattern>/approvestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentlogin</display-name>
    <servlet-name>studentlogin</servlet-name>
    <servlet-class>studentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogin</servlet-name>
    <url-pattern>/studentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentlogout</display-name>
    <servlet-name>studentlogout</servlet-name>
    <servlet-class>studentlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogout</servlet-name>
    <url-pattern>/studentlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentProfileServlet</display-name>
    <servlet-name>studentProfileServlet</servlet-name>
    <servlet-class>studentProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentProfileServlet</servlet-name>
    <url-pattern>/studentProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>student_logout</display-name>
    <servlet-name>student_logout</servlet-name>
    <servlet-class>student_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_logout</servlet-name>
    <url-pattern>/student_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentEditDetailsServlet</display-name>
    <servlet-name>studentEditDetailsServlet</servlet-name>
    <servlet-class>studentEditDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentEditDetailsServlet</servlet-name>
    <url-pattern>/studentEditDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditStudentDetailsServlet</display-name>
    <servlet-name>AdminEditStudentDetailsServlet</servlet-name>
    <servlet-class>AdminEditStudentDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditStudentDetailsServlet</servlet-name>
    <url-pattern>/AdminEditStudentDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admincircular</display-name>
    <servlet-name>admincircular</servlet-name>
    <servlet-class>admincircular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admincircular</servlet-name>
    <url-pattern>/admincircular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminDeleteCircular</display-name>
    <servlet-name>adminDeleteCircular</servlet-name>
    <servlet-class>adminDeleteCircular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminDeleteCircular</servlet-name>
    <url-pattern>/adminDeleteCircular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminShowCircular</display-name>
    <servlet-name>adminShowCircular</servlet-name>
    <servlet-class>adminShowCircular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminShowCircular</servlet-name>
    <url-pattern>/adminShowCircular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminNotShowCircular</display-name>
    <servlet-name>adminNotShowCircular</servlet-name>
    <servlet-class>adminNotShowCircular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminNotShowCircular</servlet-name>
    <url-pattern>/adminNotShowCircular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadsassessment</display-name>
    <servlet-name>uploadsassessment</servlet-name>
    <servlet-class>uploadsassessment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadsassessment</servlet-name>
    <url-pattern>/uploadsassessment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enquiryform</display-name>
    <servlet-name>enquiryform</servlet-name>
    <servlet-class>enquiryform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enquiryform</servlet-name>
    <url-pattern>/enquiryform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindeleteenquiry</display-name>
    <servlet-name>admindeleteenquiry</servlet-name>
    <servlet-class>admindeleteenquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindeleteenquiry</servlet-name>
    <url-pattern>/admindeleteenquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>coursedetails</display-name>
    <servlet-name>coursedetails</servlet-name>
    <servlet-class>coursedetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coursedetails</servlet-name>
    <url-pattern>/coursedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteregistersedtudents</display-name>
    <servlet-name>deleteregistersedtudents</servlet-name>
    <servlet-class>deleteregistersedtudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteregistersedtudents</servlet-name>
    <url-pattern>/deleteregistersedtudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteregistered</display-name>
    <servlet-name>deleteregistered</servlet-name>
    <servlet-class>deleteregistered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteregistered</servlet-name>
    <url-pattern>/deleteregistered</url-pattern>
  </servlet-mapping>
</web-app>